@page "/EditTransIcMutasi/{id:int}"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager navigationmanager
@inject BMASoft.Services.IInventoryService service
@using Newtonsoft.Json

<style>
    .e-edit-icon::before {
        content: '\ea9a';
    }

    .e-delete-icon::before {
        content: '\e94a';
    }

    .e-add-icon::before {
        content: '\e7f9';
    }

    .e-save-icon::before {
        content: '\e735';
    }

    .form-message {
        padding: 0.5rem;
        font-weight: 700;
    }

    #toast_default .e-meeting::before {
        content: "\e705";
        font-size: 17px;
    }

    .bootstrap4 #toast_default .e-meeting::before {
        content: "\e763";
        font-size: 20px;
    }
</style>



<div class="container">
    <div class="master">
        <a href="/TransIcMutasi">Back</a>

        <div class="row">
            <div class="col-7">
                <h2>Edit Mutasi Persediaan</h2>
            </div>

            <div class="col-5 float-right">
                <h2 style="color:blue">@Transh.NoFaktur</h2>
            </div>
        </div>

        <EditForm Model="@Transh" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class=" row float-md-right">
                <SfButton CssClass="e-primary" IconCss="e-icons e-save-icon" Type="submit">Simpan</SfButton>
            </div>

            <div class="form-group">
                <SfDatePicker TValue="DateTime" @bind-Value="Transh.Tanggal" Placeholder="Tanggal" FloatLabelType="FloatLabelType.Auto" Format="dd-MMM-yy">
                </SfDatePicker>
                <ValidationMessage For="@(() => Transh.Tanggal)" />
            </div>
            <div class="form-group">
                <SfTextBox CssClass="e-outline" @bind-Value="@Transh.Keterangan" Multiline="true" Placeholder="Keterangan" FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                <ValidationMessage For="@(() => Transh.Keterangan)" />
            </div>

            <div class="form-group">
                <SfComboBox TValue="string" TItem="IcLokasi" DataSource="suppliers" Placeholder="Dari Lokasi" FloatLabelType="FloatLabelType.Auto" @bind-Value="@Transh.Lokasi">
                    <DropDownListEvents TItem="IcLokasi" TValue="string" ValueChange="OnChangeBank"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaLokasi" Value="Lokasi"></ComboBoxFieldSettings>
                </SfComboBox>
                <ValidationMessage For="@(() => Transh.Lokasi)" />
            </div>

            <div class="form-group">
                <SfComboBox TValue="string" TItem="IcLokasi" DataSource="suppliers" Placeholder="Pindah Ke Lokasi" FloatLabelType="FloatLabelType.Auto" @bind-Value="@Transh.Lokasi2">
                    <DropDownListEvents TItem="IcLokasi" TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaLokasi" Value="Lokasi"></ComboBoxFieldSettings>
                </SfComboBox>
                <ValidationMessage For="@(() => Transh.Lokasi2)" />
            </div>

        </EditForm>


        <div class="details">

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Nama Item</td>
                        <td>Jumlah</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Transh.IcTransDs != null)
                    {
                        @foreach (var detail in Transh.IcTransDs)
                        {
                            <tr>
                                <td>@detail.ItemCode</td>
                                <td>@detail.NamaItem</td>
                                <td>@detail.QtyShp.ToString("#,##0.##")</td>
                                <td>
                                    <SfButton CssClass="e-small e-success" IconCss="e-icons e-edit-icon" @onclick="(() => Rubah(detail))"></SfButton>
                                    <SfButton CssClass="e-small e-danger" IconCss="e-icons e-delete-icon" @onclick="(() => Hapus(detail))"></SfButton>
                                </td>
                            </tr>
                        }
                    }

                    <tr>
                        <td>
                            <SfButton CssClass="e-small e-link" IconCss="e-icons e-add-icon" @onclick="@OnAddLine">Add Line</SfButton>
                        </td>
                        <td></td>
                        <td></td>
                        <td> </td>

                    </tr>

                </tbody>
            </table>


        </div>

    </div>
</div>
<SfDialog @bind-Visible="@IsVisible" Width="500px" ShowCloseIcon="true" IsModal="true">
    <DialogTemplates>
        <Content>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="IcItem" DataSource="srccode" Placeholder="Select Item" FloatLabelType="FloatLabelType.Auto" @bind-Value="@Transd.ItemCode">
                    <DropDownListEvents TItem="IcItem" TValue="string" ValueChange="OnChangeItem"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaLengkap" Value="ItemCode"></ComboBoxFieldSettings>
                </SfComboBox>

            </div>

            <div class="container">
                <div class="row">
                    <div class="form-group col-md-6">
                        <SfNumericTextBox CssClass="e-outline" @bind-Value="@Transd.QtyShp" Placeholder="Jumlah" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>

                    </div>
                </div>
            </div>

        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="@OkClick" Content="OK" IsPrimary="true" />
        <DialogButton OnClick="@CancelClick" Content="Cancel" />
    </DialogButtons>
</SfDialog>


<SfToast ID="toast_default" @ref="ToastObj" Title="Delete Record" Content="@ToastContent" TimeOut="5000" Icon="e-meeting">
    <ToastPosition X="@ToastPosition"></ToastPosition>
</SfToast>

@code {

    [Parameter] public int Id { get; set; }

    private IcTransHView Transh = new IcTransHView() { IcTransDs = new List<IcTransDView>() };
    private IcTransH TransAll = new IcTransH() { IcTransDs = new List<IcTransD>() };

    private List<IcLokasi> suppliers;
    private List<IcItem> srccode;
    private IcTransDView Transd = new IcTransDView();
    private IcTransDView TransK = new IcTransDView();
    //   private List<TransDView> TransDs = new List<TransDView>();
    private string enabled { get; set; }

    public int SupplierId { get; set; }

    private bool IsVisible { get; set; } = false;
    private bool IsKurs { get; set; } = false;
    private bool IsEdit { get; set; } = false;

    SfToast ToastObj;
    private string ToastPosition = "Right";
    private string ToastContent { get; set; } = " ";

    private void ShowOnClick()
    {
        this.ToastObj.Show();
    }

    protected override async Task OnInitializedAsync()
    {
        // Transh.Tanggal = DateTime.Now;

        await  Loadsuppliers();
        await  LoadSrcCode();
        LoadTrans();
    }

    async Task Loadsuppliers()
    {

        suppliers = await service.GetIcLokasi();

    }

    async Task LoadSrcCode()
    {

        srccode = await service.GetIcItem();

    }

    void LoadTrans()
    {
        TransAll = service.GetIcTrans(Id);
        Transh.IcTransHId = Id;
        Transh.NoFaktur = TransAll.NoFaktur;
        Transh.Tanggal = TransAll.Tanggal;
        Transh.Lokasi = TransAll.Lokasi;
        Transh.Lokasi2 = TransAll.Lokasi2;
        Transh.Keterangan = TransAll.Keterangan;
        foreach (var item in TransAll.IcTransDs)
        {
            Transh.IcTransDs.Add(new IcTransDView
            {
                ItemCode = item.ItemCode,
                NamaItem = item.NamaItem,
                QtyShp = item.QtyShp
            });
        }
    }



    public void OnChangeBank(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, IcLokasi> args)
    {
        var lokasiData = JsonConvert.DeserializeObject<IcLokasi>(args.ItemData != null ? args.ItemData.ToString() : "");
        this.SupplierId = lokasiData.IcLokasiId;
    }

    public void OnChangeItem(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, IcItem> args)
    {
        var itemData = JsonConvert.DeserializeObject<IcItem>(args.ItemData != null ? args.ItemData.ToString() : "");

        //   Transd.NamaItem = itemData.NamaItem;

    }

    private void OkClick()
    {
        this.IsVisible = false;
        this.IsKurs = false;

        if (Transd.ItemCode != null && !IsEdit)
        {
            Transh.IcTransDs.Add(new IcTransDView()
            {
                ItemCode = Transd.ItemCode,
                NamaItem = service.GetIcItemProduk(Transd.ItemCode).NamaItem,
                Satuan = service.GetIcItemProduk(Transd.ItemCode).Satuan,
                QtyShp = Transd.QtyShp,
                Lokasi = Transh.Lokasi,
                Lokasi2 = Transh.Lokasi2
            });
        }



        Transd = new IcTransDView();
        //   StateHasChanged();
    }



    private void CancelClick()
    {
        this.IsVisible = false;
        this.IsKurs = false;
        //    Transd = new TransDView();
        //    TransK = new TransDView();
    }

    private void OnAddLine()
    {

        this.IsVisible = true;

        IsEdit = false;
        ShowOnClick();

    }
    private void OnEditLine()
    {
        this.IsVisible = true;
        this.IsKurs = false;

        IsEdit = true;


    }

    private void OnBtnSimpan()
    {
        this.IsVisible = true;
        this.IsKurs = false;

    }


    private void Rubah(IcTransDView transd)
    {
        //  Transd = new TransDView();
        Transd = transd;
        OnEditLine();
    }

    private void Hapus(IcTransDView transd)
    {
        Transh.IcTransDs.Remove(transd);
        ShowOnClick();
    }

    private async Task HandleValidSubmit()
    {


        var newEdit = await service.EditTransH(Transh);

        navigationmanager.NavigateTo("TransIcMutasi", false);
        //add = !add;
        //StateHasChanged();

    }
}
