@page "/EditIcCat/{Id:int}"
@using BMASoft.Data.Models
@using System.ComponentModel.DataAnnotations
@inject BMASoft.Services.IInventoryService service
@inject BMASoft.Services.ILedgerService serviceGl
@inject NavigationManager navigationmanager
@using Newtonsoft.Json

<div class="container">
    <div class="master">
        <a href="/SetupIcCat">Back</a>

        <h2>Edit Kategori</h2>

        <EditForm Model="@supplier" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <br />
            <div class="form-group">
                <SfTextBox CssClass="e-outline" @bind-Value="@supplier.CatCode" Placeholder="Kategori" FloatLabelType="FloatLabelType.Auto" disabled="disabled"></SfTextBox>

            </div>
            <div class="form-group">
                <SfTextBox CssClass="e-outline" @bind-Value="@supplier.Description" Placeholder="Keterangan" FloatLabelType="FloatLabelType.Auto"></SfTextBox>

            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="GlAccount" DataSource="GlAccounts" Placeholder="COGS" FloatLabelType="FloatLabelType.Auto" @bind-Value="@supplier.Cat1">
                    <DropDownListEvents TItem="GlAccount" TValue="string" ValueChange="OnChangeAkun"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaLengkap" Value="GlAcct"></ComboBoxFieldSettings>
                </SfComboBox>
                <ValidationMessage For="@(() => supplier.Cat1)" />
            </div>

            <div class="form-group">
                <SfComboBox TValue="string" TItem="GlAccount" DataSource="GlAccounts" Placeholder="Sales Revenue" FloatLabelType="FloatLabelType.Auto" @bind-Value="@supplier.Cat2">
                    <DropDownListEvents TItem="GlAccount" TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaLengkap" Value="GlAcct"></ComboBoxFieldSettings>
                </SfComboBox>
                <ValidationMessage For="@(() => supplier.Cat2)" />
            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="GlAccount" DataSource="GlAccounts" Placeholder="Sales Return" FloatLabelType="FloatLabelType.Auto" @bind-Value="@supplier.Cat3">
                    <DropDownListEvents TItem="GlAccount" TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaLengkap" Value="GlAcct"></ComboBoxFieldSettings>
                </SfComboBox>
                <ValidationMessage For="@(() => supplier.Cat3)" />
            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="GlAccount" DataSource="GlAccounts" Placeholder="Cost Variance" FloatLabelType="FloatLabelType.Auto" @bind-Value="@supplier.Cat4">
                    <DropDownListEvents TItem="GlAccount" TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaLengkap" Value="GlAcct"></ComboBoxFieldSettings>
                </SfComboBox>
                <ValidationMessage For="@(() => supplier.Cat4)" />
            </div>

            <div class="float-md-right">
                <SfButton CssClass="e-primary" IconCss="e-icons e-save-icon" Type="submit">Simpan</SfButton>
            </div>


        </EditForm>

    </div>
</div>

@code{

    [Parameter] public int Id { get; set; }

    IcCatView supplier = new IcCatView();
    IcCat Supplier = new IcCat();
    private List<GlAccount> GlAccounts;

    public int GlAccountId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Transh.Tanggal = DateTime.Now;

        LoadApAkunSet();
        await LoadGlAccounts();
    }

    void LoadApAkunSet()
    {
        Supplier = service.GetIcCatId(Id);
        supplier.IcCatId = Supplier.IcCatId;
        supplier.CatCode = Supplier.CatCode;
        supplier.Description = Supplier.Description;
        supplier.Cat1 = Supplier.Cat1;
        supplier.Cat2 = Supplier.Cat2;
        supplier.Cat3 = Supplier.Cat3;
        supplier.Cat4 = Supplier.Cat4;
       
    }

    private async Task HandleValidSubmit()
    {

        var newEdit = await service.EditIcCat(supplier);
        if (newEdit)
        {
            //   await ExportToPdf(Transh);
        }

        navigationmanager.NavigateTo("SetupIcCat", false);

        //add = !add;
        //StateHasChanged();

    }

    public void OnChangeAkun(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, GlAccount> args)
    {
        var itemData = JsonConvert.DeserializeObject<GlAccount>(args.ItemData != null ? args.ItemData.ToString() : "");
        this.GlAccountId = itemData.GlAccountId;

    }

    async Task LoadGlAccounts()
    {
        GlAccounts = await serviceGl.GetGlAccount();
    }
}