@page "/AddTransArPy"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager navigationmanager
@inject BMASoft.Services.IPaymentArService service
@inject BMASoft.Services.IReceivableService serviceAR
@inject BMASoft.Services.IKasBankService serviceCB

@using Newtonsoft.Json
@inject Microsoft.JSInterop.IJSRuntime JS
@using  System.IO

<style>
    .e-edit-icon::before {
        content: '\ea9a';
    }

    .e-delete-icon::before {
        content: '\e94a';
    }

    .e-add-icon::before {
        content: '\e7f9';
    }

    .e-save-icon::before {
        content: '\e735';
    }

    .form-message {
        padding: 0.5rem;
        font-weight: 700;
    }

    #toast_default .e-meeting::before {
        content: "\e705";
        font-size: 17px;
    }

    .bootstrap4 #toast_default .e-meeting::before {
        content: "\e763";
        font-size: 20px;
    }
</style>



<div class="container">
    <div class="master">
        <h2>Transaksi Pembayaran</h2>

        <EditForm Model="@Transh" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="float-md-left">
                <SfButton CssClass="e-primary" IconCss="e-icons e-save-icon" Type="submit">Simpan</SfButton>
            </div>


            <div class="form-group">
                <SfComboBox TValue="string" TItem="ArCust" DataSource="banks" Placeholder="Select Customer" FloatLabelType="FloatLabelType.Auto" @bind-Value="@Transh.Customer">
                    <DropDownListEvents TValue="string" ValueChange="OnChangeBank"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaCust" Value="Customer"></ComboBoxFieldSettings>
                </SfComboBox>
                <ValidationMessage For="@(() => Transh.ArCustId)" />
            </div>

            <div class="form-group">
                <SfDatePicker TValue="DateTime" @bind-Value="Transh.Tanggal" Placeholder="Tanggal" FloatLabelType="FloatLabelType.Auto" Format="dd-MMM-yy">
                </SfDatePicker>
                <ValidationMessage For="@(() => Transh.Tanggal)" />
            </div>
            <div class="form-group">
                <SfTextBox CssClass="e-outline" @bind-Value="@Transh.Keterangan" Multiline="true" Placeholder="Keterangan" FloatLabelType="FloatLabelType.Auto"></SfTextBox>
                <ValidationMessage For="@(() => Transh.Keterangan)" />
            </div>

            <div class="form-group">
                <SfNumericTextBox CssClass="e-outline" @bind-Value="@Transh.JumBayar" Placeholder="Jumlah Bayar" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>
                <ValidationMessage For="@(() => Transh.JumBayar)" />
            </div>

        </EditForm>
        <div class="details">

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td>Faktur</td>
                        <td>Tanggal</td>
                        <td>Piutang</td>
                        <td>Bayar</td>
                        <td>Discount</td>
                        <td>Sisa</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Transh.ArTransDs != null)
                    {
                        @foreach (var detail in Transh.ArTransDs)
                        {
                            <tr>
                                <td>

                                    <span>@detail.Lpb</span>
                                </td>
                                <td>
                                    <span>
                                        @detail.Tanggal.ToShortDateString()
                                </span>
                            </td>
                            <td>
                                <span> @detail.Jumlah.ToString("#,##0.##")</span>

                            </td>
                            <td>
                                <SfNumericTextBox CssClass="e-outline" @bind-Value="@detail.Bayar" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>

                            </td>
                            <td>
                                <SfNumericTextBox CssClass="e-outline" @bind-Value="@detail.Discount" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>

                            </td>
                            <td>
                                <span>@detail.UpdateSisa.ToString("#,##0.##")</span>

                            </td>
                        </tr>
                    }
                    }

                    <tr>

                        <td></td>
                        <td></td>
                        <td> </td>

                    </tr>

                </tbody>
            </table>


        </div>
        <div class="float-md-left form-message">
            <span>UnApplied   : @Transh.UpdateUnapplied.ToString("#,##0.##")</span>
        </div>
        <div class="float-md-right form-message">
            <span>Saldo   : @Transh.JumPiutang.ToString("#,##0.##")</span>
        </div>

    </div>
</div>


@code {

    private ArTransHView Transh = new ArTransHView() { ArTransDs = new List<ArTransDView>() };

    private List<ArCust> banks;
    private List<ArDist> srccode;
    private ArTransDView Transd = new ArTransDView();
    private ArTransDView TransK = new ArTransDView();
    //   private List<TransDView> TransDs = new List<TransDView>();
    private string enabled { get; set; }

    public int customerId { get; set; }
    public string customer { get; set; }

    private bool IsVisible { get; set; } = false;
    private bool IsKurs { get; set; } = false;
    private bool IsEdit { get; set; } = false;

    SfToast ToastObj;
    private string ToastPosition = "Right";
    private string ToastContent { get; set; } = " ";

    private void ShowOnClick()
    {
        this.ToastObj.Show();
    }

    protected override async Task OnInitializedAsync()
    {
        Transh.Tanggal = DateTime.Now;

        await LoadBank();
        await LoadSrcCode();
    }

    async Task LoadBank()
    {

        banks = await serviceAR.GetCustomer();

    }

    async Task LoadSrcCode()
    {

        srccode = await serviceAR.GetDist();

    }

    public void OnChangeBank(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        var itemData = JsonConvert.DeserializeObject<ArCust>(args.ItemData != null ? args.ItemData.ToString() : "");
        this.customerId = itemData.ArCustId;
        this.customer = itemData.Customer;
        var transaksi =  service.GetPiutangSisa(this.customer);
        Transh.ArTransDs.Clear();
        if(transaksi != null)
        {
            foreach (var item in transaksi)
            {
                Transh.ArTransDs.Add(new ArTransDView()
                {
                    Lpb = item.Dokumen,
                    Tanggal = item.Tanggal,
                    Jumlah = item.Sisa,
                    KodeTran = item.KodeTran

                });
            }
        }


    }

   
    private void OkClick()
    {
        this.IsVisible = false;
        this.IsKurs = false;
        if (Transd.DistCode != null && !IsEdit)
        {
            Transh.ArTransDs.Add(new ArTransDView()
            {
                DistCode = Transd.DistCode,
                Keterangan = Transd.Keterangan,
                Jumlah = Transd.Jumlah
               
            });
        }

        Transd = new ArTransDView();
    }



    private void CancelClick()
    {
        this.IsVisible = false;
        this.IsKurs = false;
        Transd = new ArTransDView();
        TransK = new ArTransDView();
    }

    private void OnAddLine()
    {

        this.IsVisible = true;

        IsEdit = false;
        ShowOnClick();
    }
    private void OnEditLine()
    {

        this.IsVisible = true;
        this.IsKurs = false;

        IsEdit = true;

    }

    private void OnBtnSimpan()
    {

        this.IsVisible = true;
        this.IsKurs = false;
    }





    private void Rubah(ArTransDView transd)
    {
        Transd = new ArTransDView();
        Transd = transd;
        OnEditLine();



    }

    private void Hapus(ArTransDView transd)
    {

        Transh.ArTransDs.Remove(transd);
        ShowOnClick();
    }

    private async Task HandleValidSubmit()
    {
        Transh.ArCustId = this.customerId;
        var newEdit = await service.AddTransH(Transh);
        if (newEdit)
        {
            //   await ExportToPdf(Transh);
        }

        navigationmanager.NavigateTo("TransArIn", false);
        //add = !add;
        //StateHasChanged();

    }

    //protected async Task ExportToPdf(TranshView trans)
    //{
    //    //using (MemoryStream excelStream = service.PdfBuktiBank(trans))
    //    //{
    //    //    await JS.SaveAs("Sample.pdf", excelStream.ToArray());
    //    //}
    //}
}
