@page "/SetupCustomer"
@using BMASoft.Data.Models
@using System.ComponentModel.DataAnnotations
@inject BMASoft.Services.IReceivableService service
@inject NavigationManager navigationmanager

<style>
    .e-edit-icon::before {
        content: '\ea9a';
    }

    .e-delete-icon::before {
        content: '\e94a';
    }

    hurufbesar {
        text-transform: uppercase;
    }
</style>


@if (true)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h1>Setup Customer</h1>
                <SfButton @onclick="Tambah" CssClass="e-primary">Add</SfButton>

                <br />
                <br />
            </div>

        </div>
    </div>

    <div class="col-md-12">
        @if (toDoList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {

            <SfGrid DataSource="@toDoList" AllowGrouping="true" AllowSorting="true" Width="auto" Height="310" Toolbar="@(new List<string>() {"Print", "Search" })">

                <GridColumns>

                    <GridColumn HeaderText="" Width="50">
                        <Template>
                            @{
                                var trans2 = (context as ArCust);

                                <SfButton CssClass="e-small e-success" IconCss="e-icons e-edit-icon" @onclick="(() => Rubah(trans2.ArCustId))"></SfButton>
                                <SfButton CssClass="e-small e-danger" IconCss="e-icons e-delete-icon" @onclick="(() => Hapus(trans2.ArCustId))"></SfButton>

                            }

                        </Template>

                    </GridColumn>

                    <GridColumn Field=@nameof(ArCust.Customer) HeaderText="Kode" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(ArCust.NamaCust) HeaderText="Nama" Width="70"></GridColumn>
                    <GridColumn Field=@nameof(ArCust.Alamat) HeaderText=" Alamat" Width="170"></GridColumn>
                    <GridColumn Field=@nameof(ArCust.Kota) HeaderText="Kota" Width="80"></GridColumn>
                    <GridColumn Field=@nameof(ArCust.Telpon) HeaderText="Telpon" Width="60"></GridColumn>

                </GridColumns>
            </SfGrid>


        }
    </div>

    <SfDialog @bind-Visible="@IsHapus" Width="400px" ShowCloseIcon="true" IsModal="true">
        <DialogTemplates>
            <Header>
                Delete Items
            </Header>
            <Content>
                Are you sure you want to permanently delete these items ?
            </Content>
        </DialogTemplates>

        <DialogButtons>
            <DialogButton OnClick="@OkkClick" Content="OK" IsPrimary="true" />
            <DialogButton OnClick="@CancelClick" Content="Cancel" />
        </DialogButtons>
    </SfDialog>


}




@code {

    private List<ArCust> toDoList;
    private bool TblButton { get; set; } = true;
    private bool IsAdd { get; set; } = false;
    private bool IsRubah { get; set; } = false;
    private bool IsHapus { get; set; } = false;

    private int status { get; set; }

    CustomerView customer = new CustomerView();
    CustomerView RubahCustomer = new CustomerView();



    protected override void OnInitialized()
    {

        LoadCustomer();

    }

    void LoadCustomer()
    {
        toDoList = service.GetCustomer();
    }

    private void simpan(bool jadisimpan)
    {
        TblButton = jadisimpan;
        Tambah();

    }

    private void Tambah()
    {
        navigationmanager.NavigateTo("AddCustomer");
    }

    private void Rubah(int xCustomer)
    {
        navigationmanager.NavigateTo($"EditCustomer/{xCustomer}");
    }

    private void Hapus(int xCustomer)
    {
        this.IsHapus = true;
        this.status = xCustomer;


    }

    private async void OkkClick()
    {

        var HapusStatus = await service.DelCustomer(this.status);
        this.IsHapus = false;

        //      StateHasChanged();

        navigationmanager.NavigateTo("SetupCustomer", true);
        //  await LoadBank();
        //  await OnInitializedAsync();
    }

    private void CancelClick()
    {

        this.IsHapus = false;

        //    StateHasChanged();

        navigationmanager.NavigateTo("SetupCustomer", false);
        //    await LoadBank();
        //      await OnInitializedAsync();
    }

}