@page "/AddIcItem"
@using BMASoft.Data.Models
@using System.ComponentModel.DataAnnotations
@inject BMASoft.Services.IInventoryService service
@inject NavigationManager navigationmanager
@inject SeedDataService seedDataService
@using BMASoft.Data

<div class="container">
    <div class="master">
        <h2>Add Produk</h2>



        <EditForm Model="@produk" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <br />
            <div class="form-group">
                <SfTextBox CssClass="e-outline" @bind-Value="@produk.ItemCode" Placeholder="Kode Item" FloatLabelType="FloatLabelType.Auto" style="text-transform:uppercase"></SfTextBox>

            </div>
            <div class="form-group">
                <SfTextBox CssClass="e-outline" @bind-Value="@produk.NamaItem" Placeholder="Nama Item" FloatLabelType="FloatLabelType.Auto"></SfTextBox>

            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="SatuanBarang" DataSource="satuan" Placeholder="Satuan" FloatLabelType="FloatLabelType.Auto" @bind-Value="@produk.Satuan">
                    <DropDownListEvents TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaSatuan" Value="NamaSatuan"></ComboBoxFieldSettings>
                </SfComboBox>

            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="IcDiv" DataSource="DivisiSet" Placeholder="Divisi" FloatLabelType="FloatLabelType.Auto" @bind-Value="@produk.Divisi">
                    <DropDownListEvents TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaDiv" Value="Divisi"></ComboBoxFieldSettings>
                </SfComboBox>

            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="JnsBrng" DataSource="tipebarang" Placeholder="Tipe Produk" FloatLabelType="FloatLabelType.Auto" @bind-Value="@produk.JnsBrng">
                    <DropDownListEvents TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaJenis" Value="NamaJenis"></ComboBoxFieldSettings>
                </SfComboBox>

            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="CostingMethod" DataSource="jnsmethod" Placeholder="Costing Method" FloatLabelType="FloatLabelType.Auto" @bind-Value="@produk.CostMethod">
                    <DropDownListEvents TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="NamaMethod" Value="NamaMethod"></ComboBoxFieldSettings>
                </SfComboBox>

            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="IcAcct" DataSource="AkunSet" Placeholder="Akun Set" FloatLabelType="FloatLabelType.Auto" @bind-Value="@produk.AcctSet">
                    <DropDownListEvents TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="Description" Value="AcctSet"></ComboBoxFieldSettings>
                </SfComboBox>

            </div>
            <div class="form-group">
                <SfComboBox TValue="string" TItem="IcCat" DataSource="CategorySet" Placeholder="Category" FloatLabelType="FloatLabelType.Auto" @bind-Value="@produk.Category">
                    <DropDownListEvents TValue="string"></DropDownListEvents>
                    <ComboBoxFieldSettings Text="Description" Value="Category"></ComboBoxFieldSettings>
                </SfComboBox>

            </div>
            <div class="float-md-right">
                <SfButton CssClass="e-primary" IconCss="e-icons e-save-icon" Type="submit">Simpan</SfButton>
            </div>


        </EditForm>

    </div>
</div>

@code{

    IcItemView produk = new IcItemView();


    private SatuanBarang[] satuan;
    private JnsBrng[] tipebarang;
    private CostingMethod[] jnsmethod;
    private List<IcAcct> AkunSet;
    private List<IcCat> CategorySet;
    private List<IcDiv> DivisiSet;


    protected override async Task OnInitializedAsync()
    {
        tipebarang = await seedDataService.GetTipeProduk();
        satuan = await seedDataService.GetSatuan();
        jnsmethod = await seedDataService.GetCosting();

        AkunSet = await service.GetIcAcct();
        CategorySet = await service.GetIcCat();
        DivisiSet = await service.GetIcDiv();



    }

    private async Task HandleValidSubmit()
    {


        var newEdit = await service.AddIcItem(produk);
        if (newEdit)
        {
            //   await ExportToPdf(Transh);
        }

        navigationmanager.NavigateTo("SetupIcItem", false);

        //add = !add;
        //StateHasChanged();

    }
}